<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>阿里百秀-发现生活，发现美!</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/vendors/nprogress/nprogress.css">
</head>

<body>
    <div class="wrapper">
        <div class="topnav">
            <ul id="topNavBox">
            </ul>
        </div>
        <div class="header">
            <h1 class="logo">
                <a href="index.html"><img src="assets/img/logo.png" alt=""></a>
            </h1>
            <ul class="nav" id="navBox">
            </ul>
            <div class="search">
                <form>
                    <input type="text" class="keys" placeholder="输入关键字">
                    <input type="submit" class="btn" value="搜索">
                </form>
            </div>
        </div>
        <div class="aside">
            <div class="widgets">
                <h4>Search</h4>
                <div class="body search">
                    <form>
                        <input type="text" class="keys" placeholder="Key words">
                        <input type="submit" class="btn" value="搜索">
                    </form>
                </div>
            </div>
            <div class="widgets">
                <h4>Random Recommend</h4>
                <ul class="body random" id="randomBox">

                </ul>
            </div>
            <div class="widgets">
                <h4>Latest Comments</h4>
                <ul class="body discuz" id="commentBox">

                </ul>
            </div>
        </div>
        <div class="content">
            <div class="swipe">
                <ul class="swipe-wrapper" id="swipeBox">

                </ul>
                <p class="cursor"><span class="active"></span><span></span><span></span><span></span></p>
                <a href="javascript:;" class="arrow prev"><i class="fa fa-chevron-left"></i></a>
                <a href="javascript:;" class="arrow next"><i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="panel hots">
                <h3>Hot Articles</h3>
                <ul id="recommendBox">

                </ul>
            </div>
            <div class="panel new">
                <h3>Latest Publish</h3>
                <div id="lastedBox"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2020 powerd by Zoey Xu</p>
    </div>
    </div>
    <script src="assets/vendors/jquery/jquery.js"></script>
    <script src="assets/vendors/nprogress/nprogress.js"></script>
    <script src="assets/vendors/swipe/swipe.js"></script>
    <script src="assets/vendors/art-template/template-web.js"></script>
    <script type="text/html" id="slidesTpl">
        {{each data}}
        <li>
            <a href="/detail.html?id={{$value.link}}">
                <img src="{{$value.image}}" style="height: 385px">
                <span>{{$value.title}}</span>
            </a>
        </li>
        {{/each}}
    </script>
    <script type="text/html" id="lastedTpl">
        {{each data}}
        <div class="entry">
            <div class="head">
                <span class="sort">{{$value.category.title}}</span>
                <a href="javascript:;">{{$value.title}}</a>
            </div>
            <div class="main">
                <p class="info">{{$value.author.nickName}} Published on {{$value.createAt}}</p>
                <p class="brief">{{$value.content.substr(0, 500)}}</p>
                <p class="extra">
                    <span class="reading">Read({{$value.meta.views}})</span>
                    <span class="comment">Comment({{$value.meta.comments}})</span>
                    <a href="javascript:;" class="like">
                        <i class="fa fa-thumbs-up"></i>
                        <span>Like({{$value.meta.likes}})</span>
                    </a>
                    <a href="javascript:;" class="tags">
    Category<span>{{$value.category.title}}</span>
  </a>
                </p>
                <a href="detail.html?id={{$value._id}}" class="thumb">
                    <img src="{{$value.thumbnail}}" alt="">
                </a>
            </div>
        </div>
        {{/each}}
    </script>
    <script src="assets/js/home.js"></script>
    <script src="assets/js/recommend.js"></script>
    <script src="assets/js/public.js"></script>
</body>

</html>