<script src="/login/status"></script>
<script>
    if (!isLogin) {
        location.href = 'login.html';
    }
</script>

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>Categories &laquo; Admin</title>
    <link rel="stylesheet" href="../assets/vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/vendors/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../assets/vendors/nprogress/nprogress.css">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <script src="../assets/vendors/nprogress/nprogress.js"></script>
</head>

<body>
    <script>
        NProgress.start()
    </script>

    <div class="main">
        <nav class="navbar">
            <button class="btn btn-default navbar-btn fa fa-bars"></button>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="password-reset.html"><i class="fa fa-user"></i>修改密码</a></li>
                <li><a href="login.html"><i class="fa fa-sign-out"></i>退出</a></li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="page-title">
                <h1>Categories</h1>
            </div>
            <!-- 有错误信息时展示 -->
            <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
            <div class="row">
                <div class="col-md-4" id="formBox">
                    <form id="addCategory">
                        <h2>添加分类</h2>
                        <div class="form-group">
                            <label>名称</label>
                            <input name="title" class="form-control" type="text" placeholder="请输入分类名称">
                        </div>
                        <div class="form-group">
                            <label>图标</label>
                            <input name="className" class="form-control" type="text" placeholder="请输入分类图标类名">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">添加</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <!-- <div class="page-action">
            <a class="btn btn-danger btn-sm" href="javascript:;">批量删除</a>
          </div> -->
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" width="40"><input type="checkbox"></th>
                                <th>名称</th>
                                <th class="text-center" width="100">操作</th>
                            </tr>
                        </thead>
                        <tbody id="categoryBox">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="aside">
        <div class="profile">
            <img class="avatar" src="../uploads/avatar.jpg">
            <h3 class="name">Coder</h3>
        </div>
        <ul class="nav">
            <li>
                <a href="index.html"><i class="fa fa-dashboard"></i>仪表盘</a>
            </li>
            <li class="active">
                <a href="#menu-posts" data-toggle="collapse">
                    <i class="fa fa-thumb-tack"></i>文章<i class="fa fa-angle-right"></i>
                </a>
                <ul id="menu-posts" class="collapse in">
                    <li><a href="posts.html">所有文章</a></li>
                    <li><a href="post-add.html">写文章</a></li>
                    <li class="active"><a href="categories.html">分类目录</a></li>
                </ul>
            </li>
            <li>
                <a href="comments.html"><i class="fa fa-comments"></i>评论</a>
            </li>
            <li>
                <a href="users.html"><i class="fa fa-users"></i>用户</a>
            </li>
            <li>
                <a href="#menu-settings" class="collapsed" data-toggle="collapse">
                    <i class="fa fa-cogs"></i>设置<i class="fa fa-angle-right"></i>
                </a>
                <ul id="menu-settings" class="collapse">
                    <li><a href="slides.html">图片轮播</a></li>
                    <li><a href="settings.html">网站设置</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <script src="../assets/vendors/jquery/jquery.js"></script>
    <script src="../assets/vendors/bootstrap/js/bootstrap.js"></script>
    <script src="../assets/vendors/art-template/template-web.js"></script>
    <script type="text/html" id="categoryListTpl">
        {{each data}}
        <tr>
            <td class="text-center"><input type="checkbox"></td>
            <td>{{$value.title}}</td>
            <td class="text-center">
                <a href="javascript:;" class="btn btn-info btn-xs edit" data-id="{{$value._id}}">Edit</a>
                <a href="javascript:;" class="btn btn-danger btn-xs delete" data-id="{{$value._id}}" ">Delete</a>
            </td>
        </tr>
        {{/each}}
    </script>

    <script type="text/html " id="modifyCategoryTpl ">
        <form id="modifyCategory " data-id="{{_id}} ">
            <h2>Edit Category</h2>
            <div class="form-group ">
                <label>title</label>
                <input name="title " class="form-control " type="text " placeholder="请输入分类名称 " value="{{title}} ">
            </div>
            <div class="form-group ">
                <label>icon</label>
                <input name="className " class="form-control " type="text " placeholder="请输入分类图标类名 " value="className ">
            </div>
            <div class="form-group ">
                <button class="btn btn-primary " type="submit ">Confirm</button>
            </div>
        </form>
    </script>
    <script src="../assets/js/category.js "></script>
    <script>
        NProgress.done()
    </script>
</body>

</html>