<script src="/login/status"></script>
<script>
    if (!isLogin) {
        location.href = 'login.html';
    }
</script>

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>Comments &laquo; Admin</title>
    <link rel="stylesheet" href="../assets/vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/vendors/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../assets/vendors/nprogress/nprogress.css">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <script src="../assets/vendors/nprogress/nprogress.js"></script>
</head>

<body>
    <script>
        NProgress.start()
    </script>

    <div class="main">
        <nav class="navbar">
            <button class="btn btn-default navbar-btn fa fa-bars"></button>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="password-reset.html"><i class="fa fa-user"></i>修改密码</a></li>
                <li><a href="login.html"><i class="fa fa-sign-out"></i>退出</a></li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="page-title">
                <h1>所有评论</h1>
            </div>
            <div class="page-action">
                <ul class="pagination pagination-sm pull-right" id="pageBox">

                </ul>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Comment</th>
                        <th>Article</th>
                        <th>Create Time</th>
                        <th>Status</th>
                        <th class="text-center" width="100">Operations</th>
                    </tr>
                </thead>
                <tbody id="commentsBox">
                </tbody>
            </table>
        </div>
    </div>

    <div class="aside">
        <div class="profile">
            <img class="avatar" src="../uploads/avatar.jpg">
            <h3 class="name">Coder</h3>
        </div>
        <ul class="nav">
            <li>
                <a href="index.html"><i class="fa fa-dashboard"></i>仪表盘</a>
            </li>
            <li>
                <a href="#menu-posts" class="collapsed" data-toggle="collapse">
                    <i class="fa fa-thumb-tack"></i>文章<i class="fa fa-angle-right"></i>
                </a>
                <ul id="menu-posts" class="collapse">
                    <li><a href="posts.html">所有文章</a></li>
                    <li><a href="post-add.html">写文章</a></li>
                    <li><a href="categories.html">分类目录</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="comments.html"><i class="fa fa-comments"></i>评论</a>
            </li>
            <li>
                <a href="users.html"><i class="fa fa-users"></i>用户</a>
            </li>
            <li>
                <a href="#menu-settings" class="collapsed" data-toggle="collapse">
                    <i class="fa fa-cogs"></i>设置<i class="fa fa-angle-right"></i>
                </a>
                <ul id="menu-settings" class="collapse">
                    <li><a href="slides.html">图片轮播</a></li>
                    <li><a href="settings.html">网站设置</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <script src="../assets/vendors/jquery/jquery.js"></script>
    <script src="../assets/vendors/bootstrap/js/bootstrap.js"></script>
    <script src="../assets/vendors/art-template/template-web.js"></script>
    <script src="../assets/js/common.js"></script>

    <script type="text/html" id="commentsTpl">
        {{each records}}
        <tr>
            <td>{{$value.author.nickName}}</td>
            <td>{{$value.content}}</td>
            <td>{{$value.post.title}}</td>
            <td>{{$imports.formatDate($value.createAt)}}</td>
            <td>{{$value.state == 0 ? 'Unchecked' : 'checked'}}</td>
            <td class="text-center">
                <a href="javascript:;" class="btn btn-info btn-xs status" data-status={{$value.state}} data-id={{$value._id}}>{{$value.state == 0 ? 'Check' : 'Uncheck'}}</a>
                <a href="javascript:;" class="btn btn-danger btn-xs delete" data-id={{$value._id}}>Remove</a>
            </td>
        </tr>
        {{/each}}
    </script>
    <script type="text/html" id="pageTpl">
        {{if page > 1}}
        <li><a href="javascript:;" onclick="changePage({{page - 1}})">《</a></li>
        {{/if}} {{each display}}
        <li><a href="javascript:;" onclick="changePage({{$value}})">{{$value}}</a></li>
        {{/each}} {{if page
        < pages}} <li><a href="javascript:;" onclick=" changePage({{page + 1}})">》</a></li>
            {{/if}}
    </script>

    <script src=" ../assets/js/comments.js "></script>
    <script>
        NProgress.done()
    </script>
</body>

</html>