<script src="/login/status">
</script>
<script>
    if (!isLogin) {
        location.href = 'login.html';
    }
</script>
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>Posts &laquo; Admin</title>
    <link rel="stylesheet" href="../assets/vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/vendors/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../assets/vendors/nprogress/nprogress.css">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <script src="../assets/vendors/nprogress/nprogress.js"></script>
</head>

<body>
    <script>
        NProgress.start()
    </script>

    <div class="main">
        <nav class="navbar">
            <button class="btn btn-default navbar-btn fa fa-bars"></button>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="password-reset.html"><i class="fa fa-user"></i>修改密码</a></li>
                <li><a href="login.html"><i class="fa fa-sign-out"></i>退出</a></li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="page-title">
                <h1>所有文章</h1>
                <a href="post-add.html" class="btn btn-primary btn-xs">写文章</a>
            </div>
            <div class="page-action">
                <!-- show when multiple checked -->
                <a class="btn btn-danger btn-sm" href="javascript:;" style="display: none">批量删除</a>
                <form class="form-inline" id="filterForm">
                    <select name="category" class="form-control input-sm" id="categoryBox">
            
          </select>
                    <select name="state" class="form-control input-sm">
            <option value="0">Draft</option>
            <option value="1">Published</option>
          </select>
                    <button class="btn btn-default btn-sm">筛选</button>
                </form>
                <ul class="pagination pagination-sm pull-right" id="page">

                </ul>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Catefory</th>
                        <th class="text-center">Publish Time</th>
                        <th class="text-center">Status</th>
                        <th class="text-center" width="100">Operation</th>
                    </tr>
                </thead>
                <tbody id="postsBox">

                </tbody>
            </table>
        </div>
    </div>

    <div class="aside">
        <div class="profile">
            <img class="avatar" src="../uploads/avatar.jpg">
            <h3 class="name">Coder</h3>
        </div>
        <ul class="nav">
            <li>
                <a href="index.html"><i class="fa fa-dashboard"></i>仪表盘</a>
            </li>
            <li class="active">
                <a href="#menu-posts" data-toggle="collapse">
                    <i class="fa fa-thumb-tack"></i>文章<i class="fa fa-angle-right"></i>
                </a>
                <ul id="menu-posts" class="collapse in">
                    <li class="active"><a href="posts.html">所有文章</a></li>
                    <li><a href="post-add.html">写文章</a></li>
                    <li><a href="categories.html">分类目录</a></li>
                </ul>
            </li>
            <li>
                <a href="comments.html"><i class="fa fa-comments"></i>评论</a>
            </li>
            <li>
                <a href="users.html"><i class="fa fa-users"></i>用户</a>
            </li>
            <li>
                <a href="#menu-settings" class="collapsed" data-toggle="collapse">
                    <i class="fa fa-cogs"></i>设置<i class="fa fa-angle-right"></i>
                </a>
                <ul id="menu-settings" class="collapse">
                    <li><a href="slides.html">图片轮播</a></li>
                    <li><a href="settings.html">网站设置</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <script src="../assets/vendors/jquery/jquery.js"></script>
    <script src="../assets/vendors/bootstrap/js/bootstrap.js"></script>
    <script src="../assets/vendors/art-template/template-web.js"></script>
    <script src="../assets/js/common.js"></script>

    <script type="text/html" id="postsTpl">
        {{each data.records}}
        <tr>
            <td>{{$value.title}}</td>
            <td>{{$value.author.nichName}}</td>
            <td>{{$value.category.title}}</td>
            <td class="text-center">{{$imports.formatDate($value.createAt)}}</td>
            <td class="text-center">{{$value.state == 1 ? 'published' : 'draft'}}</td>
            <td class="text-center">
                <a href="post-add.html?id={{$value._id}}" class="btn btn-default btn-xs">Edit</a>
                <a href="javascript:;" class="btn btn-danger btn-xs delete" data-id="{{$value._id}}">Remove</a>
            </td>
        </tr>
        {{/each}}
    </script>

    <script type="text/html" id="pageTpl">
        {{if page > 1}}
        <li><a href="javascript:;" onclick="changePage({{page - 1}})">《</a></li>
        {{/if}} {{each display}}
        <li><a href="javascript:;" onclick="changePage({{$value}})">{{$value}}</a></li>
        {{/each}} {{if page
        < pages}} <li><a href="javascript:;" onclick=" changePage({{page + 1}})">》</a></li>
            {{/if}}
    </script>

    <script type="text/html" id="categoryTpl">
        {{each data}}
        <option value="{{$value._id}}">{{$value.title}}</option>
        {{/each}}
    </script>

    <script src=" ../assets/js/posts.js "></script>
    <script>
        NProgress.done()
    </script>
</body>

</html>